body {
    background-color: #26282C;
    background-image: url('../BackgroundLayer.png');
    background-attachment: fixed;
    background-size: cover;
}
.textbox {
    margin:auto;
    width: 50%;
    padding: 10px;
    padding-top: 5%;
}
h1 {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
    text-shadow:1px 1px 2px black;
    font-size: 200%;
    opacity: 85%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow:1px 1px 2px black;
    font-size: 120%;
    opacity: 75%;
}
footer {
    position: absolute;
    width: 99.7%;
    padding: 3px;
    left:0;
    text-align: center;
    background-color: #1d202400;
    opacity: 60%;
    color: black;
}
.footertext {
    --opacity: 70%;
    font-size: 70%;
    padding-left: 30px;
}
header {
    z-index: 10000;
    position: fixed;
    padding-bottom: .7%;
    background-color: #00000000;
    left:0;
    top:0;
    width: 100%;
    color:white;
    background-color: #151618;
    box-shadow: 0px 5px 25px #191a1d;
}
.pagebar{
    display: flex;
    font-size: 0.8vw;
    position: fixed;
    left: 65vw;
    top:.5vw;
}
.pagebartext{
    padding: 1vw;
}
.pagebuttontype{
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 206);
    text-shadow:1px 1px 2px black;
    font-size: 120%;
    opacity: 75%;
    top: .75vw;
    padding-left: .7vw;
    text-decoration: none;
}
.pagebuttontype:hover{
    color: #ffffff;
}
.pagebuttontype::before{
    content: attr(cont);
    content-visibility:hidden;
    position: absolute;
    background-color: #ffffff;
    width: 100% fit-content;
    height: 2px;
    bottom: 0;
    transition: transform 0.3s ease;
    transform: scaleX(0);
}
.pagebuttontype:hover::before {
    transform: scaleX(1);
}
.fudoatologo {
    display:block;
    padding-left: 15%;
    width:7%;
    padding-top: 1%;
}
.socials {
    margin:auto;
}